[submodule "self"]
	path = self
	url = git@github.com:russellallen/self.git
	branch = netbsd
[submodule "transporter/TerminalEmulator"]
	path = transporter/TerminalEmulator
	url = git@github.com:OurSelf-Systems/TerminalEmulator.git

